<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/all.css">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
	<title>Health Track</title>
</head>

<body>
	<div class="register-parent">
		<div class="register">
			<div class="register-title">
				<img src="../imagens/coracao.png" alt="">
			</div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-7">
						<label for="inputEmail4">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email">
						<span id="msgEmail"></span>
					</div>
					<div class="form-group col-md-5">
						<label for="senha">Senha</label>
						<input type="password" class="form-control" id="senha" placeholder="Senha">
						<span id="msgSenha"></span>
					</div>
				</div>
				<div class="form">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" placeholder="Nome completo">
					<span id="msgNome"></span>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="idade">Idade</label>
						<input type="number" class="form-control" id="idade" placeholder="Idade">
						<span id="msgIdade"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="genre">Gênero</label>
						<select class="form-control" id="genre">
							<option>Masculino</option>
							<option>Feminino</option>
						</select>
					</div>
				</div>
				<button type="button" class="btn" onclick="location.href='../index.html'">Cadastrar</button>

			</form>
		</div>
	</div>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../plugins/fontawesome/js/all.min.js"></script>	
	<script src="../js/register.js"></script>
</body>

</html>